<div class="control-group error">
  <%= f.label :firstname, :class=>"bold" %>*<br />
  <%= f.text_field :firstname %>
</div>

<div class="control-group error">
  <%= f.label :lastname, :class=>"bold" %>*<br />
  <%= f.text_field :lastname  %>
</div>

<div>
  <%= f.label :nickname %><br />
  <%= f.text_field :nickname %>
</div>
