<div><%= a.label :firstname %><br />
  <%= a.text_field :firstname, :required=>true  %>
</div>

<div><%= a.label :lastname %><br />
  <%= a.text_field :lastname, :required=>true  %>
</div>

<div><%= a.label :nickname %><br />
  <%= a.text_field :nickname %>
</div>

<div><%= a.label :cellphone %><br />
  <%= a.text_field :cellphone %>
</div>

<div><%= a.label :address %><br />
  <%= a.text_area :address, :rows => 5, :cols => 25 %>
</div>

<div><%= a.label :birthday %><br />
  <%= a.text_field :birthday %>
</div>  
