<div class="left">
  <div class="control-group error">
    <%= f.label :firstname, :class=>"bold" %>*<br />
    <%= f.text_field :firstname %>
  </div>

  <div class="control-group error">
    <%= f.label :lastname, :class=>"bold" %>*<br />
    <%= f.text_field :lastname  %>
  </div>

  <div>
    <%= f.label :membership, :class=>"bold" %><br />
    <%= f.select :membership, options_for_select([['NA', 0]]+Membership.types.map {|key, val| [val, key.to_i]}, :selected => customer.get_membership("number")) %>
  </div> 

  <div class="card-number control-group error" style="<%= customer.membership ? '' : 'display:none;' %>">
    <%= f.label :card_number, :class=>"bold" %>*<br />
    <%= text_field_tag :card_number, customer.membership ? customer.membership.card_number : "" %>
  </div>
</div>

<div class="right">
  <div>
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname %>
  </div>

  <div>
    <%= f.label :cellphone %><br />
    <%= f.text_field :cellphone %>
  </div>

  <div>
    <%= f.label :address %><br />
    <%= f.text_area :address, :rows => 5, :cols => 25 %>
  </div>

  <div>
    <%= f.label :birthday %><br />
    <%= f.text_field :birthday %>
  </div>
</div>
