<% if flash[:error] %>
  <div class="alert alert-error reservation-errors">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= flash[:error] %>
  </div>
<% end %>

<%= form_for reservation, :url => reservations_path, :method => 'post' do |f| %>
  <table id="reservation-form">
    <tr>
      <td class="labels">
        <div class="control-group error">
          <%= f.label :name %>*
        </div>
      </td>
      <td class="inputs">
        <div class="control-group error">
          <%= f.text_field :name %>
        </div>
      </td>
    </tr>
    <tr>
      <td class="labels">
        <div class="control-group error">
          <%= f.label :number_of_people %>*
        </div>
      </td>
      <td class="inputs">
        <div class="control-group error">
          <%= f.text_field :number_people, :value=>1 %>
        </div>
      </td>
    </tr>
    <tr>
      <td class="labels"><%= label_tag :date %></td>
      <td class="inputs"><%= text_field_tag :add_date, Date.current.strftime("%Y-%m-%d") %></td>
    </tr>
    <tr>
      <td class="labels"><%= f.label :time %></td>
      <td class="inputs">
        <%= select_tag :hour, options_for_select((1..12).map{|x| "%02d" % x}, :selected => reservation.hour_12) %>
        <%= select_tag :minutes, options_for_select((0..60).map{|x| "%02d" % x}, :selected => reservation.minute) %>
        <%= select_tag :am_pm, options_for_select(["AM", "PM"], :selected => reservation.am_pm) %>
      </td>
    </tr>
  </table>
<% end %>
