<h5>Customer</h5>
<table c_id="<%= customer.id %>">
  <tr>
    <td>Firstname:</td>
    <td><%= customer.firstname %></td>
  </tr>
  <tr>
    <td>Lastname:</td>
    <td><%= customer.lastname %></td>
  </tr>
  <tr>
    <td>Membership:</td>
    <td><%= customer.membership %></td>
  </tr>
  <tr>
    <td>Cellphone:</td>
    <td><%= customer.cellphone %></td>
  </tr>
</table>
