<div class="master-page-sidebar">
  <div class="sidebar main-bar">
    <ul class="options">
      <li><%= link_to "Transactions", "#" %></li>
      <li><%= link_to "Customers", "#" %></li>
      <li><%= link_to "Personnel", "#" %></li>
      <li><%= link_to "Services", "#" %></li>
      <li><%= link_to "Reservations", "#" %></li>
    </ul>
  </div>
</div>
