<!DOCTYPE html>
<html>
<head>
  <title>BHS-Binan Laguna</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :template => 'layouts/_header' %>
  <div class="load-indicator"><span>Loading...</span></div>
  <div class="container body">
    <div class="row">
      <%= yield %>
    </div>
  </div>
  <!-- Place all JS at the end of the document (for faster loading) -->
  <%= javascript_include_tag "application" %>
</body>
</html>
