<div>
  <%= a.label :firstname, :class=>"bold" %><br />
  <%= a.text_field :firstname, :required=>true%>
</div>

<div>
  <%= a.label :lastname, :class=>"bold" %><br />
  <%= a.text_field :lastname, :required=>true  %>
</div>

<div>
  <%= a.label :role_id, :class=>"bold" %><br />
  <%= a.select :role_id, options_for_select([['Customer', 2], ['Therapist', 3]], :selected => resource.account.role_id) %>      
</div> 

<div>
  <%= a.label :nickname %><br />
  <%= a.text_field :nickname %>
</div>

<div>
  <%= a.label :cellphone %><br />
  <%= a.text_field :cellphone %>
</div>

<div>
  <%= a.label :address %><br />
  <%= a.text_area :address, :rows => 5, :cols => 25 %>
</div>

<div>
  <%= a.label :birthday %><br />
  <%= a.text_field :birthday %>
</div>  
