<div class="edit-user user-body">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <div class="errors <%= !flash.empty? ? '' : 'hidden' %>">
      <p>Notice:<p>
      <ul>
        <% flash.each do |name, msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    
    <%= f.fields_for resource.account do |a| %>
      <div class="left">
        <%= render :partial => "account", :locals => {:a => a}%>
      </div>
    <% end %>
    
    <div class="right">
      <div><%= f.label :username, :class=>"bold" %><br />
        <%= f.text_field :username, :required=>true %>
      </div> 
      
      <div><%= f.label :role_id, :class=>"bold" %><br />
        <%= f.select :role_id, options_for_select([['Admin', 1], ['Customer', 2], ['Therapist', 3]]) %>      
      </div> 
       
      <div><%= f.label :email, :class=>"bold" %><br />
        <%= f.email_field :email, :required=>true  %>
      </div> 

      <div><%= f.label :current_password, :class=>"bold" %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password %></div>
    
      <div><%= f.label :password, :required=>true%><br />
        <%= f.password_field :password, :autocomplete => "off" %></div>

      <div><%= f.label :password_confirmation, :required=>true%><br />
        <%= f.password_field :password_confirmation %></div>

      <div><%= f.submit "Update" %></div>
      <%= link_to "Back", :back %>
    </div>
    
    <div class="container-clearer"></div>
  <% end %>
</div>
